Django
djangorestframework
django-allauth
channels
drf-spectacular
google-generativeai
google-auth
pydantic
requests
PyYAML
Twisted
whitenoise
python-magic
magic-impute
dj-rest-auth
django-debug-toolbar